body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #34495e;
    background-color: #EFF1F5;
}

* {
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    display: none;
} */


a {
    text-decoration: none;
}

.page-header {
    width: 1920px;
    height: 70px;
    background: #fff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1480px;
    height: 70px;
    margin: 0 auto;
}

.header-common {
    display: flex;
}

.header-logo {
    display: block;
    width: 80px;
    height: 70px;
    margin-right: 10px;
    font-size: 50px;
    color: #3d7eff;
    /* line-height: 70px;
    text-align: center; */
    transition: all .3s;
}

.header-logo-img {
    display: block;
    width: 80px;
    height: 70px;
}

.header-menu {
    display: flex;
}

.header-menu-item {
    display: block;
    height: 30px;
    padding: 16px 20px 20px;
    font-size: 14px;
    color: #34495e;
    line-height: 30px;
    text-align: center;
    border-top: 4px solid transparent;
    box-sizing: initial;
}

.header-menu-item:hover {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    border-top: 4px solid #3D7EFF;
}

.icon {
    display: inline-block;
    width: 12px;
    height: 13px;
    margin-left: 3px;
    font-size: 12px;
    color: #b6c1c9;
}

.header-menu-item:nth-child(8) {
    background: url(../img/news_icon_more.svg) no-repeat center;
    background-size: 34px 34px;
    min-width: 40px;
}

.header-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-user-search {
    display: block;
    width: 50px;
    height: 70px;
    border-top: 4px solid #3D7EFF;
    border-bottom: 1px solid #ffffff;
    z-index: 10;
    padding: 16px 0 20px;
    background-color: #fff;
    opacity: 1;
    position: relative;
    transition: none;
    text-align: center
}

.header-user-search .icon-icon-search {
    font-size: 24px;
    color: #3D7EFF;
    text-align: center;
    transition: color .2s;
    line-height: 32px;
}

.header-user-cloud {
    display: block;
    width: 60px;
    height: 70px;
    padding: 16px 0 20px;
    border-top: 4px solid transparent;
    text-align: center;
}

.header-user-cloud .icon-Icon {
    font-size: 18px;
    color: #ced7de;
    text-align: center;
    line-height: 30px;
}

.header-user-cloud:hover {
    border-top-color: #3D7EFF;
}

.header-user-cloud:hover .icon-Icon {
    color: #3D7EFF;
}

.header-user-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 60px;
    height: 70px;
    border-top: 4px solid transparent;
    font-size: 14px;
    color: #3D7EFF;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}

.header-user-login .icon-iconuser {
    transform: translateY(-2px);
    font-size: 18px;
    color: #3D7EFF;
}

.header-user-login:hover {
    border-top-color: #3D7EFF;
    background-color: #eff3f5;
}

/* banner-section部分开始 */

.banner-section {
    height: 350px;
    margin-top: 20px;
}

.banner-carsouel {
    width: 1480px;
    height: 350px;
    margin: 0 auto;
    cursor: pointer;
}

.banner-carsouel-img {
    width: 1480px;
    height: 350px;
    border-radius: 5px;
}

/* project-section部分开始 */
.project-section {
    width: 1480px;
    height: 2642px;
    margin: 0 auto;
}

.project-header {
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    width: 512px;
    height: 42px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-title-name {
    display: block;
    height: 40px;
    margin-right: 25px;
    padding: 0 20px;
    font-size: 14px;
    color: #7c7c7c;
    line-height: 38px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.project-title-name:hover {
    color: #3d7eff;
}

.project-title-name:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    border: 1px solid #3d7eff;
    border-radius: 20px;
    font-weight: bold;
    color: #3d7eff;
}

.icon-down {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.project-list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 1480px;
    height: 2520px;
    margin-top: 20px;
    padding-bottom: 15px;
}

.project-item {
    position: relative;
    width: 280px;
    height: 300px;
    border-radius: 5px;
    transition: all .2s;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-shade {
    opacity: 0;
    position: absolute;
    /* z-index: 1; */
    top: -5px;
    right: -5px;
    bottom: 0;
    left: -5px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all .2s;
}

.project-shade:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.project-item:hover .project-shade {
    opacity: 1;
}

.project-cover {
    display: block;
    width: 280px;
    height: 210px;
    border-radius: 5px;
    overflow: hidden;
}

.project-cover-img {
    display: inline;
    width: 280px;
    height: 210px;
    transform: scale(1);
    transition: transform 0.2s;
}

.project-item:hover .project-cover-img {
    transform: scale(1.05);
}

.project-info {
    position: relative;
    z-index: 2;
    height: 90px;
    padding: 5px 0 10px 5px;
    overflow: hidden;
}

.project-info-title {
    display: block;
    width: 100%;
    max-width: 217px;
    height: 22px;
    font-size: 14px;
    font-weight: 700;
    color: #34495e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-info-recommend {
    display: none;
    position: absolute;
    text-align: right;
    right: 6px;
    top: 3px;
    height: 22px;
    line-height: 22px;
    width: 50px;
    font-size: 12px;
}

.project-item:hover .project-info-recommend {
    display: block;
}

.info-recommend-profile {
    display: inline-block;
    vertical-align: middle;
    margin-left: -10px;
    z-index: 3;
    position: relative;
}

.info-recommend-img {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.project-info-msg {
    height: 21px;
    margin-top: 5px;
    overflow: hidden;
}

.project-info-slogan {
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-info-classify {
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    padding: 0 5px;
    font-size: 12px;
    color: #9FB0BD;
    line-height: 19px;
    text-align: center;
    background-color: #dfe5e9;
    border-radius: 3px;
}

.project-info-social {
    display: inline-block;
    margin-right: 10px;
}

.project-info-social .iconfont {
    font-size: 18px;
    color: #9FB0BD;
    margin-right: 5px;
    display: inline-block;
    line-height: 21px;
    vertical-align: middle;
    margin-top: 0;
}

.info-social-num {
    font-size: 14px;
    color: #9FB0BD;
    display: inline-block;
    line-height: 21px;
    vertical-align: middle;
}

.project-info-user {
    height: 20px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-user-container {
    display: flex;
    width: 190px;
    height: 20px;
    overflow: hidden;
}

.info-user-profile {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.info-user-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.info-user-name {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    color: #34495e;
}

.user-name-link {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #2c3e50;
}

.info-user-focus {
    display: none;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 20px;
    color: #3d7eff;
    cursor: pointer;
}

.info-user-focus:hover {
    color: white;
    background-color: #3d7eff;
}

.project-item:hover .info-user-focus {
    display: block;
}

.project-item:hover .user-name-link {
    color: #3d7eff;
}

.project-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    margin: 5px auto 20px;
}

.project-pagination-num {
    display: block;
    min-width: 40px;
    line-height: 40px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid rgba(191, 196, 205, .6);
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #606266;
    letter-spacing: 0;
    text-align: center;
    padding: 0 15px;
}

.project-pagination-num:hover {
    background-color: rgba(61, 126, 255, .1);
}

/* hot-section部分开始 */
.hot-section {
    width: 100%;
    height: 639px;
    margin-top: 20px;
    padding: 40px 0;
    background-color: #e9eef2;
}

.hot-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1480px;
    height: 21px;
    margin: 0 auto;
}

.hot-moment {
    color: #717171;
    font-size: 14px;
    line-height: 1.5;
}

.hot-more {
    font-size: 14px;
    color: #717171;
}

.hot-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1480px;
    height: 518px;
    margin: 0 auto;
    margin-top: 20px;
}

.hot-item {
    position: relative;
    width: 230px;
    height: 498px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}

.hot-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.hot-info {
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
}

.hot-item:hover .hot-info {
    opacity: 1;
    visibility: visible;
}

.hot-info-shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .199) 3.5%, rgba(0, 0, 0, .195) 7%, rgba(0, 0, 0, .19) 10.35%, rgba(0, 0, 0, .182) 13.85%, rgba(0, 0, 0, .174) 17.35%, rgba(0, 0, 0, .165) 20.85%, rgba(0, 0, 0, .155) 24.35%, rgba(0, 0, 0, .145) 27.85%, rgba(0, 0, 0, .135) 31.35%, rgba(0, 0, 0, .126) 34.85%, rgba(0, 0, 0, .118) 38.35%, rgba(0, 0, 0, .11) 41.85%, rgba(0, 0, 0, .105) 45.35%, rgba(0, 0, 0, .1) 48.85%, rgba(0, 0, 0, .103) 52.35%, rgba(0, 0, 0, .112) 55.85%, rgba(0, 0, 0, .126) 59.35%, rgba(0, 0, 0, .144) 62.85%, rgba(0, 0, 0, .165) 66.35%, rgba(0, 0, 0, .188) 69.85%, rgba(0, 0, 0, .213) 73.35%, rgba(0, 0, 0, .237) 76.85%, rgba(0, 0, 0, .262) 80.35%, rgba(0, 0, 0, .285) 83.85%, rgba(0, 0, 0, .306) 87.35%, rgba(0, 0, 0, .324) 90.85%, rgba(0, 0, 0, .338) 94.35%, rgba(0, 0, 0, .347) 97.85%, rgba(0, 0, 0, .35));
}

.hot-info-link {
    display: block;
    width: 100%;
    height: 85%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.hot-info-group {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 10;
}

.hot-info-praise {
    color: white;
    width: 58px;
    height: 28px;
    border: 1px solid #fff;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    margin-top: 10px;
    display: block;
    border-radius: 5px;
}

.icon-praise1,
.icon-Icon-star-solid {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 4px;
}

.hot-info-author {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.info-author-container {
    color: white;
    font-size: 12px;
}

.info-author-profile {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%;
}

.info-author-social {
    display: inline-block;
    height: 19px;
    line-height: 19px;
    margin-right: 10px;
    color: #fff;
}

.info-author-social .iconfont {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #fff;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -2px;
}

.author-social-num {
    font-size: 12px;
    color: #fff;
    line-height: 19px;
}

/* article-section部分开始 */
.article-section {
    width: 100%;
    height: 1123px;
    background: #fff;
}

.article-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1480px;
    height: 1123px;
    margin: 0 auto;
}

.article-push {
    width: 1120px;
    height: 1123px;
}

.article-push-title {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    height: 47px;
    line-height: 47px;
    margin-top: 30px;
    padding-bottom: 5px;
}

.article-push-title .active {
    border: 1px solid #3d7eff;
    border-radius: 20px;
    font-weight: bold;
    color: #3d7eff;
}

.push-title-name {
    box-sizing: content-box;
    height: 40px;
    margin-right: 25px;
    padding: 0 20px;
    font-size: 14px;
    color: #7c7c7c;
    line-height: 40px;
    text-align: center;
    transition: all 0s;
}

.push-title-name:hover {
    color: #3d7eff;
}

.article-push-item {
    display: flex;
    justify-content: flex-start;
    height: 161px;
    padding: 20px 0;
    border-bottom: 1px solid #e0e7ed;
    position: relative;
    cursor: pointer;
}

.article-push-item:hover .article-push-shade {
    opacity: 1;
}

.article-push-item:hover .article-push-img {
    transform: scale(1.05);
}

.article-push-shade {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    /* z-index: 1; */
    top: 0px;
    right: -25px;
    bottom: 0;
    left: -23px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    transition: all .2s;
}

.article-push-shade::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 3px solid #3d7eff;
}

.article-push-cover {
    display: block;
    width: 160px;
    height: 120px;
}

.article-push-img {
    width: 160px;
    height: 120px;
    transition: tansform 0.2s;
    transform: scale(1);
    vertical-align: middle;
}

.article-push-info {
    z-index: 1;
    width: 940px;
    height: auto;
    margin-left: 20px;
}

.push-info-title {
    display: flex;
    margin: 2px 0;
    font-size: 24px;
}

.info-title-label {
    display: block;
    height: 25px;
    margin: 1px 5px 1px 0;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 700;
    max-width: 450px;
    color: #fff;
    border-radius: 2px;
    line-height: 25px;
    background-color: #3d7eff;
}

.info-title-name {
    display: block;
    max-width: 450px;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.push-info-subtitle {
    max-height: 44px;
    overflow: hidden;
    margin-top: 5px;
    color: #7f8c8d;
    font-size: 14px;
}

.push-info-msg {
    display: flex;
    margin-top: 10px;
}

.push-info-profile {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%
}

.push-info-name {
    padding: 0 15px;
    vertical-align: middle;
    font-size: 12px;
    color: #394a58;
    font-weight: bold;
    line-height: 21px;
}

.push-info-designer {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.push-info-name::after {
    content: "";
    float: right;
    height: 14px;
    margin: 3px 20px 3px 0;
    border-right: 1px solid #e0e7eb;
}

.article-push-data {
    position: absolute;
    top: 5px;
    right: 0;
    color: #bdbdbd;
}

.article-push-data .iconfont {
    margin-right: 10px;
    color: #bdbdbd;
    font-size: 14px;
}

.article-push-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    margin: 20px auto 20px;
}

.article-career {
    width: 280px;
    height: 1093px;
    margin-top: 30px;
}

.article-career-container {
    width: 100%;
    height: 1073px;
}

.article-career-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 42px;
    margin-bottom: 5px;
}

.career-title-name {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #606266;
    letter-spacing: 0;
    line-height: 42px;
}

.article-career-list {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 966px;
}

.article-career-item {
    width: 280px;
    height: 161px;
    border-radius: 5px;
}

.article-career-item:hover {
    background-color: #f7f9fa;
}

.career-card {
    display: block;
    width: 250px;
    height: 100%;
    border-bottom: 1px solid #e0e7eb;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    transition: none;
}

.article-career-item:hover .career-card-title {
    color: #3d7eff;
}

.career-card-title {
    display: block;
    height: 25.14px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #303133;
    letter-spacing: 0;
    line-height: 1.57142858;
}

.career-card-info {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-card-address {
    margin: 5px 0;
}

.address-info {
    padding: 0 10px;
    color: #7f8c8d;
    font-size: 12px;
    line-height: 24px;
}

.address-line {
    color: #7f8c8d;
    line-height: 24px;
}

.career-card-salary {
    margin: 5px 0;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    line-height: 24px;
    color: #FF8C29;
    letter-spacing: 0;
    text-align: right;
}

.career-card-company {
    display: flex;
    padding-top: 28px;
}

.card-company-profile {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

.card-company-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
}

.card-company-txt {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #909399;
    letter-spacing: 0;
    width: 200px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-company-info {
    width: 200px;
    font-size: 12px;
    color: #bdc3c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-company-type {
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.card-company-time {
    width: 76px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.article-career-more {
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgba(191, 196, 205, .6);
    color: #606266;
}

.article-career-more:hover {
    background-color: rgba(61, 126, 255, .1);
}

/* grow-section部分开始 */
.grow-section {
    width: 100%;
    height: 300px;
    background-color: #e5eaed;
}

.grow-content {
    display: flex;
    width: 1480px;
    height: 300px;
    padding-top: 30px;
    margin: 0 auto;
}

.grow-left-container {
    width: 1120px;
}

.grow-nav {
    font-size: 0;
    margin-bottom: 14px;
}

.grow-nav-name {
    display: inline-block;
    vertical-align: middle;
    width: 81px;
    height: 38px;
    font-size: 14px;
    color: #969696;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    margin-right: 20px
}

.grow-nav-name:nth-child(1) {
    width: 85px;
    height: 42px;
    color: #3a99d8;
    border: 1px solid #3a99d8;
    border-radius: 40px;
}

.grow-list {
    width: 1120px;
    display: flex;
    flex-wrap: wrap;
}

.grow-item {
    display: flex;
    width: 282px;
    margin-right: 90px;
    padding: 10px 14px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 18px;
}

.grow-author {
    display: block;
    width: 80px;
    height: 65px;
    position: relative;
}

.grow-info {
    width: 170px;
}

.grow-info-title {
    width: 100%;
    font-size: 16px;
    color: #3c4b5a;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grow-floor {
    color: #aab8c2;
    font-size: 14px;
    white-space: nowrap;
}

.grow-floor-num {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin: 0 7px;
    font-weight: 700;
}

.grow-achieve-img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.grow-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 5px;
    vertical-align: middle;
}

.grow-badge {
    position: absolute;
    left: 28px;
    top: -23px
}

.grow-right-container {
    width: 308px;
}

.grow-team-nav {
    display: flex;
    justify-content: space-between;
    width: 308px;
    height: 25px;
    padding: 0 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    margin-top: 9px;
}

.grow-team-name {
    color: #3c4b59;
    font-weight: 700;
    font-size: 14px;
}

.grow-team-pagination {
    font-size: 0;
}

.team-pagination-num {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
    line-height: 23px;
    color: #bdc3c7;
    cursor: pointer;
}

.team-pagination-num:nth-child(3) {
    margin-right: 0;
    line-height: 16px;
    vertical-align: top;
}

.grow-team-list {
    width: 308px;
}

.grow-team-item {
    display: flex;
    width: 308px;
    padding: 8px 14px;
}

.grow-team-logo {
    width: 109px;
    height: 75px;
}

.grow-team-img {
    width: 100px;
    height: 75px;
    margin-right: 9px;
}

.grow-team-info {
    width: 170px;
}

.team-info-title {
    display: block;
    font-size: 18px;
    width: 170px;
    line-height: 25px;
    font-weight: 700;
    height: 25px;
    margin-bottom: 3px;
    color: #34495e;
}

.team-info-name {
    max-width: 105px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.team-info-location {
    display: inline-block;
    padding-left: 5px;
    height: 16px;
    border-left: 1px solid #becad3;
    color: #becad3;
    font-size: 14px;
    line-height: 14px;
    margin-left: 5px;
    /* vertical-align: middle; */
    margin-top: 5px;
}

.grow-team-social {
    width: 170px;
    height: 22px;
    margin-top: 2px;
    line-height: 22px;
    font-size: 14px;
    color: #34495e;
}

.team-social-img {
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-right: 3px;
}

.team-social-num {
    font-size: 12px;
    color: #b8c4ce;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-weight: 700;
}

/* cooperate-section部分开始 */
.cooperate-section {
    width: 1480px;
    height: 302px;
    margin: 28px auto 16px;
    background-color: #EFF1F5;
}

.cooperate-title {
    font-size: 14px;
    color: #34495e;
    height: 40px;
    line-height: 40px;
    margin: 28px 0 10px;
    font-weight: 700;
}

.cooperate-logo-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    margin: 0 -10px;
}

.cooperate-logo-item {
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 0 10px;
}

.cooperate-logo-img {
    display: inline;
    border: 0;
    vertical-align: middle;
    width: inherit;
    height: inherit;
}

.cooperate-name-list {
    height: 102px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 30px;
}

.cooperate-name-item {
    display: block;
    width: 165px;
    font-size: 16px;
    text-align: left;
    opacity: 0.6;
    margin-top: 10px;
    margin-right: 20px;
    color: #2c3e50;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.cooperate-name-item:hover {
    color: #2980b9;
}

/* page-footer部分开始 */
.page-footer {
    width: 100%;
    height: 214px;
    background: #fff;
    background-size: auto 170px;
    padding: 40px 0;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 1480px;
    margin: 0 auto;
}


.footer-right {
    width: 240px;
    height: 134px;
    display: flex;
    justify-content: right;
}

.footer-code {
    width: 90px;
    margin-left: 30px;
    text-align: center;
}

.footer-code-img {
    border: 0;
    vertical-align: middle;
    width: 90;
    height: 90px;
}

.footer-code-name {
    font-size: 14px;
    line-height: 1.57142858;
    color: #34495e;
    word-wrap: break-word;
    word-break: break-word;
}

.footer-left {
    display: flex;
    width: 1240px;
    height: 90px;
}

.footer-left .icon-UI2 {
    display: block;
    width: 76px;
    height: 90px;
    margin-left: -8px;
    font-size: 76px;
    color: #3D7EFF;
    line-height: 90px;
}

.footer-info {
    margin-left: 60px;
    width: 640px;
}

.footer-nav {
    margin-top: 7px;
    display: flex;
}

.footer-nav-name {
    display: block;
    margin-right: 40px;
    font-size: 14px;
    color: #7f8c8d;
    transition: all 0.2s ease-in-out;
}

.footer-nav-name:hover {
    color: #3d7eff;
}

.footer-copyright {
    width: 100%;
    font-size: 12px;
    color: #b8c4cc;
    line-height: 20px;
}

.footer-copyright-txt {
    color: #b8c4cc;
}

.footer-share {
    display: flex;
    justify-content: flex-start;
    width: 640px;
    height: 40px;
    margin-top: 5px;
}

.footer-share-contact {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
}

.footer-share-show {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -60px;
    bottom: 55px;
    width: 155px;
    height: 155px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background: url(../img/ft-wx150.png) no-repeat 3px 3px #fff;
    background-size: 150px;
    transform: scale(0, 0);
    transition: all .5s;
}

.footer-share-contact:hover .footer-share-show {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);

}

.footer-share-contact .icon-icon_weixin1,
.footer-share-contact .icon-icon-sina,
.footer-share-contact .icon-icon_qq {
    font-size: 24px;
    color: #bec2c5;
    line-height: 40px;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 8px;
}

.footer-share-badge {
    width: 79px;
    height: 30px;
}

.share-badge-img {
    width: 79px;
    height: 30px;
    margin-top: 4px;
    vertical-align: middle;
}

.footer-share-contact:hover .iconfont {
    color: #fff;
}

.footer-share-contact:hover {
    background-color: #2980b9;
}